.card{
  background-color: rgb(11, 126, 126);
  display: inline-block;
  width: 180px;
  height: 200px;
  margin: 5px;
  padding: 010px;
  color: white;
  border-radius: 6%;
}

.card .name{
  font-size: 1.2em;
  color: hsl(303, 76%, 95%);
}